/* Suit shapes */
:root {
  --club: url('data:image/svg+xml;utf8,<svg viewBox="0 0 70 90" xmlns="http://www.w3.org/2000/svg"><path d="M59 78.8H11.6l.4-2.2q9.2-2.2 12.2-4.4 4.5-3.3 7.4-9.6 3-6.4 3-13.5v-3q-3.6 7.9-8.4 11.5-5 3.7-10.2 3.7-6.5 0-10.8-5-4.8-5.4-4.8-13 0-7.3 4-12.4 4.3-5 9.5-5 3.4 0 9.1 3.2-2.2-4.4-3-6.7-.6-2.3-.6-5 0-7.2 4.3-12.2Q28.3 0 35 0q6.6 0 11 5 4.5 5.1 4.5 12.3 0 5.5-3.7 11.8l5.5-3q1.6-.4 3.4-.4 5.6 0 9.6 5 4.2 5 4.2 12.3 0 7.7-4.6 13-4.3 5.2-10.8 5.2-3.5 0-7.1-2-3.7-2-6.6-5.1-2-2.5-4.8-8.1.4 10.1 2.7 16 2.6 5.9 7.8 9.8 3.4 2.6 12.4 4.6z"/></svg>');
  --diamond: url('data:image/svg+xml;utf8,<svg viewBox="0 0 70 90" xmlns="http://www.w3.org/2000/svg"><path d="M34.9 0q5.6 9.6 14 20.7Q58.3 33.4 64.2 40q-4.8 5-15.5 19.2Q40.2 70.8 35 80q-1.7-3.3-4.7-7.7-5.1-7.7-12.8-17.8L5.7 40q6.5-7.4 16.6-21Q29.8 9 35 0Z"/></svg>');
  --heart: url('data:image/svg+xml;utf8,<svg viewBox="0 0 70 90" xmlns="http://www.w3.org/2000/svg"><path d="M35.1 80q-2-7.5-5.6-14-3.7-6.7-14.2-20.6-7.7-10.2-9.5-13-3-4.4-4.3-8.1Q.3 20.5.3 16.7q0-7 4.7-11.9Q9.7.1 16.7.1q7 0 12.1 5 4 3.6 6.3 11 2-7.2 5.9-11Q46.3 0 53.2 0q7 0 11.7 4.7 4.8 4.7 4.8 11.2 0 5.8-2.8 12-2.7 6.2-10.8 16.4Q45.6 57.5 40.9 66 37 72.7 35 80Z"/></svg>');
  --spade: url('data:image/svg+xml;utf8,<svg viewBox="0 0 70 90" xmlns="http://www.w3.org/2000/svg"><path d="M35 0q2 7.3 5.5 13.1 3.7 5.8 13 14.4 9.4 8.4 12 12.9Q68 45 68 49.6q0 6.5-4.4 10.9-4.3 4.2-10.5 4.2-5.5 0-10.4-3.8-3.7-2.9-7-9 .3 9.9 2.7 15.9 2.6 5.9 8.2 9.1 5.5 3.4 14.8 4l.6 2.5H8.2l.5-2.4q12.5 0 19.3-7.4 6.9-7.3 6.7-21.7-3.1 6.5-7.7 9.8-4.4 3-10 3-6.1 0-10.5-4.3Q2 56 2 49.9q0-5 2.2-9 3.2-5.5 10-11.2 6.8-5.6 10-9.3 5-5.5 7.4-10Q33.8 5.8 35 0Z"/></svg>');
}
.suit {
  color: transparent;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  font-size: 90%;
}
.suit::selection {
  background-color: transparent;
}
.spade {
  mask-image: var(--spade);
  background-color: var(--spade-color);
}
.heart {
  mask-image: var(--heart);
  background-color: var(--heart-color);
}
.diamond {
  mask-image: var(--diamond);
  background-color: var(--diamond-color);
}
.club {
  mask-image: var(--club);
  background-color: var(--club-color);
}

/* Suit colors */
:root {
  --spade-color: rgb(30 41 59);
  --heart-color: rgb(220 38 38);
  --diamond-color: rgb(234 88 12);
  --club-color: rgb(63 98 18);
}
.dark {
  --spade-color: rgb(148 163 184);
  --heart-color: rgb(239 68 68);
  --diamond-color: rgb(249 115 22);
  --club-color: rgb(132 204 22);
}

/* Suit variations */
.monochrome {
  --spade-color: rgb(51 65 85);
  --heart-color: rgb(51 65 85);
  --diamond-color: rgb(51 65 85);
  --club-color: rgb(51 65 85);
}
.monochrome h1,
.monochrome h2,
.monochrome h3,
.monochrome h4 {
  --spade-color: rgb(15 23 42);
  --heart-color: rgb(15 23 42);
  --diamond-color: rgb(15 23 42);
  --club-color: rgb(15 23 42);
}
.dark .monochrome {
  --spade-color: rgb(203 213 225);
  --heart-color: rgb(203 213 225);
  --diamond-color: rgb(203 213 225);
  --club-color: rgb(203 213 225);
}
.dark .monochrome h1,
.dark .monochrome h2,
.dark .monochrome h3,
.dark .monochrome h4 {
  --spade-color: rgb(255 255 255);
  --heart-color: rgb(255 255 255);
  --diamond-color: rgb(255 255 255);
  --club-color: rgb(255 255 255);
}
.duochrome {
  --spade-color: rgb(30 41 59);
  --heart-color: rgb(220 38 38);
  --diamond-color: rgb(220 38 38);
  --club-color: rgb(30 41 59);
}
.dark .duochrome {
  --spade-color: rgb(148 163 184);
  --heart-color: rgb(239 68 68);
  --diamond-color: rgb(239 68 68);
  --club-color: rgb(148 163 184);
}

/* Bidding */
table.bids {
  @apply w-auto mx-auto;
}

table.bids th,
table.bids td {
  @apply text-center px-4;
}
table.bids td {
  @apply text-xl;
}
