:root {
  --club: url('data:image/svg+xml;utf8,<svg viewBox="0 0 88.457999 102" xmlns="http://www.w3.org/2000/svg"><path fill="black" d="M 36.680715,44.80706 C 22.540007,37.97099 1.7394772,46.12509 6.6608573,64.519198 11.456767,82.444392 32.168355,78.51066 39.33041,67.599273 36.3425,88.287918 31.095064,91.508805 27.949854,95.999999 H 61.341951 C 57.958653,91.19703 51.81516,88.287918 48.21237,67.315743 55.429253,78.208756 77.124984,81.985007 81.851602,64.318809 86.501231,46.94041 65.542273,37.04362 51.605071,44.91071 64.969524,35.82852 69.769019,6 44.456784,6 18.894687,6 23.159637,36.41171 36.680715,44.80706 Z" style="stroke-width:10;paint-order:markers stroke fill"/></svg>');
  --diamond: url('data:image/svg+xml;utf8,<svg viewBox="0 0 69.495003 102" xmlns="http://www.w3.org/2000/svg"><path fill="red" stroke="red" d="M 34.664649,10.747492 A 495.09777,493.96417 0 0 1 7.3134354,50.82506 C 17.355821,63.61404 26.908334,76.97323 34.664649,90.82117 42.665898,76.728855 51.401958,63.206749 62.015861,50.82506 A 340.95123,340.17058 0 0 1 34.664649,10.747492 Z" style="stroke-width:10;paint-order:markers stroke fill"/></svg>');
  --heart: url('data:image/svg+xml;utf8,<svg viewBox="0 0 96.042999 102" xmlns="http://www.w3.org/2000/svg"><path fill="red" stroke="red" d="m 47.448628,95.725563 -0.8226,-2.377908 C 44.432425,85.939556 40.22802,78.439998 33.281612,69.202737 A 428.6665,428.93812 0 0 0 21.582398,54.569454 98.803515,98.866125 0 0 1 9.4261846,38.10701 25.59203,25.608246 0 0 1 6.318581,21.278735 C 8.1465831,13.047513 15.367191,6.8283674 24.050201,6.0967033 A 22.575827,22.590131 0 0 1 46.900228,19.723949 l 1.005401,2.103534 0.731201,-1.737702 c 1.0968,-2.377909 2.193602,-4.115611 4.021605,-6.127688 4.570005,-5.3045652 10.054011,-7.8653897 16.634819,-7.9568477 3.016203,0 4.661405,0.274374 7.220608,1.0974962 3.747404,1.1889542 6.580808,3.0181145 9.140011,5.9447715 6.580807,7.682473 5.758206,18.01723 -2.376404,30.821353 -1.828001,2.926656 -5.301205,7.316642 -9.962611,12.804123 -5.392606,6.584977 -7.951809,9.786008 -10.693812,13.352871 A 82.625695,82.678051 0 0 0 48.454029,95.725563 c -0.1828,0.365833 -0.914,0.365833 -1.005401,0 z" style="stroke-width:10;paint-order:markers stroke fill"/></svg>');
  --spade: url('data:image/svg+xml;utf8,<svg viewBox="0 0 64.123 102" xmlns="http://www.w3.org/2000/svg"><path fill="black" d="M 14.736187,40.30008 C -5.8508073,68.90795 14.330092,89.65912 30.607065,76.0011 27.533707,90.90303 25.843572,92.07559 23.977705,96.00001 H 41.551907 C 39.296009,92.03712 36.926901,90.90303 34.526591,76.08593 51.14498,89.0706 68.65992,66.42624 50.2198,40.30008 38.15994,25.95178 33.477874,12.85239 32.477996,10.99231 31.518597,12.54209 25.866163,26.21798 14.736187,40.30008 Z" style="stroke-width:10;paint-order:markers stroke fill"/></svg>');
}

.suit {
  color: transparent;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
.suit::selection {
  background-color: transparent;
}

.spade {
  mask-image: var(--spade);
  background-color: black;
}
.heart {
  mask-image: var(--heart);
  background-color: red;
}
.diamond {
  mask-image: var(--diamond);
  background-color: red;
}
.club {
  mask-image: var(--club);
  background-color: black;
}
.dark .spade {
  background-color: white;
}
.dark .heart {
  background-color: red;
}
.dark .diamond {
  background-color: red;
}
.dark .club {
  background-color: white;
}

table.bids {
  @apply w-auto mx-auto;
}

table.bids th,
table.bids td {
  @apply text-center px-4;
}
table.bids td {
  @apply text-xl;
}
