---
import "@styles/global.css";
---
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <style>@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');</style>
  <title>Κάστρο</title>
</head>
<body class="overflow-hidden ">
  <div class="min-h-[50vh] bg:gray-300 dark:bg-slate-900">
    <div class="pt-16 mx-auto prose prose-slate dark:prose-invert lg:prose-lg xl:prose-xl">
      <slot />
    </div>
  </div>
</body>
</html>